<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>


<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center" style="background-color: #D0E8C5; color: black;">
        <div class="container">
            <h1 class="jumbotron-heading">Books</h1>
            <h3 class="jumbotron-heading">All Books</h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Book Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Author </th>
                            <th scope="col">Available Copies</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="Books: ${books}" class="product">
                            <td th:text="${Books.getName()}"></td>
                            <td th:text="${Books.getCategory()}"></td>
                            <td th:text="${Books.getAuthor()}"></td>
                            <td th:text="${Books.getAvailableCopies}"></td>
                            <td class="text-right">

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:action="@{'api/books/delete/{id}' (id=${Books.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'api/books/edit/{id}' (id=${Books.getId()})}"
                                       class="btn btn-sm btn-info edit-product" style="background-color: #D0E8C5; color: white;">
                                        <i class="fa fa" >Edit</i>
                                    </a>
                                </th:block>
                                <br>
                                <th:block>
                                    <form th:if="${Books.isLiked()}" th:action="@{'api/books/markAsRented/{id}'
                                         (id=${Books.getId()})}"    th:method="POST">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa">RENT</i>
                                        </button>
                                    </form>
                                </th:block>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="api/books/add" class="btn btn-block btn-dark add-product-btn" style="background-color: #D0E8C5; color: white;">
                            Add new Book
                        </a>
                        <br/>
                        <br/>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>